<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="Login"></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <form>
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" required></ion-input>
      </ion-item>
    </form>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Send</ion-button>
      </ion-col>
    </ion-row>
    <ion-card-content>
      <small>
        Please provide the username or email address that you used when you signed
        up for your Evernote account.
      </small>
    </ion-card-content>
  </ion-card>

</ion-content>
